<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
     <%-  include('./partials/nav.ejs') %>
     <title>Homepage</title>
</head>
<body>
<%- include('./signup.ejs') %>
</body>
</html>